    <div class="footer">
      <div class="container">
        <div class="row">
          <ul class="list-inline col-xs-12 col-sm-4">
            <li><i class="fa fa-youtube"></i></li>
            <li><i class="fa fa-instagram"></i></li>
            <li><i class="fa fa-facebook"></i></li>
            <li><i class="fa fa-twitter"></i></li>
          </ul>
          <p class="text-right col-xs-12 col-sm-8">This is a Airbnb Home challenge @ LeWagon</p>
        </div>
      </div>
    </div>
