<html>
  <head>
    <meta charset="utf-8">
    <title>Airbnb home</title>
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,700|Raleway:300,400,500,700">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/style.css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- Leave those next 4 lines if you care about users using IE8 -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

<div class="banner">
      <div class="banner-bloc">
        <h1>WELCOME HOME</h1>
        <p>Rent unique places to stay from local hosts in 190+ countries.</p>

        <a href="" class="btn btn-success btn-lg">How it works</a>
      </div>
    </div>

    <!-- Your features code -->
    <div class="wrapper-features">
      <div class="container">
        <div class="row">
          <div class="features">
            <div class="col-xs-12 col-sm-6 col-md-3 feature">
              <%= image_tag "globe.png" %>
              <h2>Discover the world</h2>
              <p>The earth is your new home.</p>
            </div>

            <div class="col-xs-12 col-sm-6 col-md-3 feature">
               <%= image_tag "dollar.png" %>
              <h2>Pay online</h2>
              <p>No cash issues anymore.</p>
            </div>

            <div class="col-xs-12 col-sm-6 col-md-3 feature">
               <%= image_tag "beer.png" %>
              <h2>Meet people </h2>
              <p>Discover new culture and lifestyle.</p>
            </div>

            <div class="col-xs-12 col-sm-6 col-md-3 feature">
               <%= image_tag "heart.png" %>
              <h2>Share and love</h2>
              <p>Join a community you will love.</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Your card code -->
    <div class="wrapper-card">
      <div class="container">
        <h2 class="title">Your next trip</h2>
        <div class="row">

          <div class="col-xs-12 col-sm-4">
            <div class="card" style="background-image: url('images/card-paris.jpg')">
              <a>Paris</a>
              <img class="avatar" src="images/seb.jpg" alt="seb">
              <div class="card-title">
                <h3>Seb's home</h3>
                <p>Great place</p>
              </div>
              <a href="" class="card-link"></a>
            </div>
          </div>

          <div class="col-xs-12 col-sm-4">
            <div class="card" style="background-image: url('images/card-london.jpeg')">
              <a>London</a>
              <img class="avatar" src="images/anne.jpg" alt="Anne">
              <div class="card-title">
                <h3>Anne's home</h3>
                <p>Nice area</p>
              </div>
              <a href="" class="card-link"></a>
            </div>
          </div>

          <div class="col-xs-12 col-sm-4">
            <div class="card" style="background-image: url('images/card-brussels.jpeg')">
              <a>Brussels</a>
              <img class="avatar" src="images/romain.jpeg" alt="Romain">
              <div class="card-title">
                <h3>Romain's home</h3>
                <p>Restaurants nearby</p>
              </div>
              <a href="" class="card-link"></a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Your newsletter code -->
    <div class="newsletter">
      <h3> Get news from us </H3>
      <p>Leave us your mail and get news from us</p>
      <form class="form-inline">
        <input type="email" placeholder="bob@gmail.com" class="form-control">
        <input type="submit" value="Subscribe" class="btn btn-primary btn-bordered btn-bordered-primary">
      </form>
    </div>

    <!-- Your map code -->
    <div class="wrapper-map">
      <div id="map" style="width: 100%; height: 400px;"></div>
    </div>

    <!-- Including Bootstrap JS (with its jQuery dependency) so that dynamic components work -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js"></script>

    <script type="text/javascript">
    var myLatlng = new google.maps.LatLng(48.8655909, 2.378983);
    var myOptions = {
      zoom: 16,
      center: myLatlng,
      scrollwheel: false,
      mapTypeId: google.maps.MapTypeId.ROADMAP,
      styles: [] // TODO: replace [] by array from https://snazzymaps.com/
    };
    var map = new google.maps.Map(document.getElementById('map'), myOptions);
    var marker = new google.maps.Marker({
      position: myLatlng,
      map: map,
      title: "You are here!"
    });
    </script>
  </body>
</html>
