---
title: Le Wagon Middleman boilerplate
---

<div class="welcome text-center padded">
  <h1>Welcome </h1>
  <p class="doc">
    <%= link_to "Read Online Documentation", "http://middlemanapp.com/" %>
  </p>
</div>

<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('images/background.jpg')">
  <div class="banner-content">
    <h1>WELCOME HOME</h1>
    <p>Rent unique places to stay from local hosts in 190+ countries.</p>
    <a class="btn btn-primary btn-lg">How it works</a>
  </div>
</div>
    <!-- Your features code -->
<div class="container">
  <div class="features text-center padded ">
    <img src="images/globe.png">
    <h2>Discover the world</h2>
    <p>The earth is your new home.</p>
    <img src="images/dollar.png">
    <h2>Pay online</h2>
    <p>No cash issues anymore</p>
    <img src="images/beer.png">
    <h2>Meet people</h2>
    <p>Discover new culture and lifestyle</p>
    <img src="images/heart.png">
    <h2>Share and love</h2>
    <p>Join a community you will love</p>
  </div>
</div>
<div class="wrapper-grey">
  <div class="container text-center padded">
    <div class="card" style="background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('images/card-paris.jpg');">
    <div class="card-category">Paris</div>
    <div class="card-descrition">
      <h2>Seb's home</h2>
      <p>Charming room with patio</p>
      <img class="card-user avatar avatar-large" src="images/seb">
      <a class="card-link" href=""></a>
    </div>
    </div>
  </div>
</div>
    <!-- Your newsletter code -->
<div class="newsletter text-center padded">
  <h2>Get news from us</h2>
  <br>
  <p>Leave us your email and get news from us</p>
  <form class="form-inline">
    <div class="form-group">
    <input type="email" class= "form-control" placeholder="youremail@gmail.com">
    </div>
    <button type="submit" class="btn btn-primary btn-default">Subscribe</button>
  </form>
</div>

    <!-- Your map code -->

    <!-- Your footer code -->
<div class="wrapper-grey">
<div class="footer">
  <ul class= "table list-inline">
    <li>
      <a href=""><i class="fa fa-youtube" aria-hidden="true"></i></a>
    </li>
    <li>
      <a href=""><i class="fa fa-instagram" aria-hidden="true"></i></a>
    </li>
    <li>
      <a href=""><i class="fa fa-facebook" aria-hidden="true"></i></a>
    </li>
    <li>
      <a href=""><i class="fa fa-twitter" aria-hidden="true"></i></a>
    </li>
  </ul>
  <p>This is a Airbnb Home challenge @ LeWagon</p>
</div>
</div>

    <!-- Including Bootstrap JS (with its jQuery dependency) so that dynamic components work -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
